name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, review_requested, synchronize]

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Delete example folder
        run: rm -rf example
      
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      
      - name: Install dependencies
        run: dart pub get
      
      - name: Verify formatting
        run: dart format --set-exit-if-changed -o none .
      
      - name: Analyze project
        run: dart analyze --fatal-infos
      
      - name: Run all tests
        run: dart test --reporter=expanded
